:root {
  font-family: var(--font-stack-sans-serif);
  font-size: calc(var(--font-size-root-ratio) * 100%);
  line-height: var(--ratio);

  &.wf-active {
    font-family: var(--font-stack-serif);
  }
}

body {
  margin: 0;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}
